@value makerDarkGrey,makerWhite,makerPink from '../common/color.css';

.login {
    width: 35rem;
    display: flex;
    flex-direction: column;
    background-color: makerDarkGrey;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, -1px -4px 13px 0px rgba(255,255,255,0);
}
.input_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: makerWhite;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
}
.input_body > label {
    margin-bottom: 0.3rem;
}


.input_body > input {
    width: 85%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    outline: none;
    background-color: transparent;
    border: 2px solid makerWhite;
    color: makerWhite;
}
.button_body {
    text-align: center;
    margin: 1.2rem 0;
}
.login_img {
    display: flex;
    width: 100%;
    margin: 0;
    margin-bottom: 2rem;
    padding: 0.5rem;
    justify-content: center;
}
.login_img > li {
    list-style: none;
    margin: 0 0.6rem;
}

.login_button {
    color: makerWhite;
    width: 50%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border: 2px solid makerWhite;
    text-align: center;
    background-color: transparent;
}
.login_button:hover, .button:hover {
    cursor: pointer;
}
.button {
    outline: 0;
    border: 2px solid makerWhite;
    border-radius: 50%;
}

.new {
    color: makerWhite;
    outline: 0;
    background: transparent;
    outline: none;
    border: 0;
    margin-bottom: 0.5rem;
    text-decoration: underline;
}
.new:hover {
    cursor: pointer;
}

